<%= form_for([@trip_detail, @trip_detail.reviews.build]) do |f| %>
  <div class="row">
    <div class="col-1">
      <%= f.label :rating %>
    </div>
    <div class="col-11">
      <div id="rating-form">
        <%= f.number_field :rating %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <%= f.label :review %>
    </div>
    <div class="col-11">
      <div id="rating-form">
        <%= f.text_area :review, class: "form-control", rows: 5 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style = "text-align: center;">
      <%= f.submit 'Create Review', class: "btn btn-dark" %>
    </div>
  </div>  
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>