<div class="reviews-show">
  <div class="row">
    <div class="col-11">
      <p>
        <% @trip = TripDetail.find(params[:id]) %>
        <% @rev = Review.find_by(:trip_detail_id => @trip.id) %>
        <%= image_tag @rev.user.avatar, class: "rounded-circle",
        style: "width: 30px; height: 30px;" %>
        <strong><%= link_to @rev.user.full_name, user_path(@rev.user) %></strong>
      </p>
      <p>
        <div class="review-rating" data-score="<%= review.rating %>"></div>
        <%= review.rating%>
        <%= review.review %>
      </p>
    </div>
    <div class="col-1">
      <% if user_signed_in? %>
        <% if review.user_id == current_user.id %>
          <div class="dropdown">
            <button type="button" class="dropdown-btn btn-outline dropdown-toggle dropdown-toggle-split" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">
                <%= link_to 'Edit', edit_trip_detail_review_path(review.trip_detail) %>
              </a>
              <a class="dropdown-item">
                <%= link_to 'Delete', trip_detail_review_path(review.trip_detail), 
                method: :delete, data: { confirm: "Delete review?" } %>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



            

