<section class="container-fluid content-area">
  <div class="form-area">
    <h3 class="form-headings">Forgot your password?</h3>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            placeholder: "Email Address", class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.submit "Send me reset password instructions" %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <%= render "devise/shared/sign_in_link" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render "devise/shared/sign_up_link" %>
      </div>
    </div>
  </div>

<%# <%= render "devise/shared/links" %>
</section>
