<section class="container-fluid content-area">
  <div class="form-area">
    <h3 class="form-headings">Sign In</h3>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon icon-bg">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" 
              fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 
                3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            placeholder: "Email Address", class: "form-text-area" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon icon-bg">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" 
              class="bi bi-lock-fill" viewBox="0 0 16 16">
                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                <path fill-rule="evenodd" 
                d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
              </svg>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", 
            placeholder: "Password" , class: "form-text-area" %>
          </div>
        </div>
        <div class="row" style="max-width:350px;">
          <div class="col-12" style="text-align: right;">
            <h6><%= render "devise/shared/recover" %></h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.submit "Sign In", class:'btn btn-light btn-sign-in' %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6>Don't have an account? <%= render "devise/shared/sign_up_link" %></h6>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
<section>
<%# 
<%= render "devise/shared/links" %>
