<section class="container-fluid signed-in-content">
  <%= render 'layouts/tabs' %>
  <div class = "row">
    <% if @followers.count > 0 %>
      <% @followers.each do |follower| %>
        <% @follower_user = User.find_by(:id => follower.follower_id) %>
        <% @relationship = @follower_user.followers.find_by(follower: current_user) %>
        <div class = "col">
          <div class="card" style="width: 18rem;">
            <h5 class="card-title" style = "text-align:center; padding-top: 20px;">
              <%= @follower_user.full_name %>

            </h5>
            <hr>
            <div style="text-align:center; margin:auto;">
              <%= image_tag @follower_user.avatar, class: "rounded-circle card-img-top",
              style: "width: 90px; height: 90px;" %>
            </div>
            <div class="card-body" style = "text-align:center;">
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                <%= link_to "Follow", devise_user_relationships_path(@follower_user.id), method: :post, 
                class: 'btn btn-dark' unless @relationship.present? %>
                <%= link_to "Unfollow", user_relationship_path(@relationship.id), method: :delete,
                class: 'btn btn-dark' if @relationship.present? %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class = "col-12" style = "text-align: center; padding-top: 50px;">
        <h6> You don't have any followers yet. </h6>
      </div>
    <% end %>
  </div>
</section>