<section class="container-fluid signed-in-content">
  <%= render partial: 'layouts/tabs', locals: {user: current_user} %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="edit-area">
        <div class="row">
          <div class="col-12">
            <%= image_tag user_avatar(resource), style: "width: 100px; height: 100px" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.file_field :avatar,  accept:'image/*' %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :full_name %>
          </div>
          <div class="col-9">
            <%= f.text_field :full_name, autofocus: true, class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :date_of_birth %><br />
          </div>
          <div class="col-9">
            <%= f.date_field :dob, :order => [:day, :month, :year], :start_year => 1940, 
            class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :gender %><br />
          </div>
          <div class="col-9">
            <%= f.select :gender, User.gender_for_select, {}, class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :email %><br />
          </div>
          <div class="col-9">
            <%= f.email_field :email, autocomplete: "email", class: "sign-up-textbox" %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :password %><br />
          </div>
          <div class="col-9">
            <%= f.password_field :password, autocomplete: "new-password", class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <i>(leave blank if you don't want to change it)</i><br />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :password_confirmation %><br />
          </div>
          <div class="col-9">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", 
            class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :photos_of_you %> 
          </div>
          <div class="col-9">
            <%= f.file_field :images, multiple: true, class: "choose-fields", size: "5",  accept:'image/*' %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <% if resource.images.attached? %>
            <div class="d-inline-block image-gallery">
              <% (0...resource.images.count).each do |image| %>
                <%= image_tag (resource.images[image]),
                 style: "width: 100px; height: 100px" %>
                <%# <%= link_to "remove", delete_image_attachment(resource.images[image].id) %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :my_trips %> 
          </div>
          <div class="col-9">
            <% @user = current_user %>
            <% if @user.trip_details.any? %>
              <% @user.trip_details.each do |trip_detail| %>
                <div style = "padding-top: 5px; padding-bottom: 5px">
                  <%= link_to(trip_detail) do %>
                    <strong><%= trip_detail.location %></strong> </br>
                    <%= trip_detail.start %> - 
                    <%= trip_detail.end %></br>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= f.label :current_password %> 
          </div>
          <div class="col-9">
            <%= f.password_field :current_password, autocomplete: "current-password", 
            class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
           <i>(we need your current password to confirm your changes)</i><br />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.submit "Update" %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="edit-area">
    <h6 class="signed-in-h6">Deactivate Account</h6>
      <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</section>