<section class="container-fluid content-area">
  <div class="form-content">
    <h3 class="form-headings-sign-up">Sign Up</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row row-style">
          <div class="col-12">
            <%= f.text_field :full_name, autofocus: true, class: "sign-up-textbox", 
            placeholder: "First Name + Surname" %>
          </div>
        </div>
        <div class="row row-style">
          <div class="col-12">
            <%= f.label :gender %><br />
            <%= f.select :gender, User.gender_for_select, {}, class: "sign-up-textbox" %>
          </div>
        </div>
        <div class="row row-style">
          <div class="col-12">
            <%= f.text_field :dob, data: { behavior: 'flatpickr' }, class: 'sign-up-textbox',
            placeholder: 'Date Of Birth' %>
          </div>
        </div>
        <div class="row row-style">
          <div class="col-12">
            <%= f.email_field :email, autocomplete: "email", class: "sign-up-textbox", 
            placeholder: "Email Address" %>
          </div>
        </div>
        <div class="row row-style">
          <div class="col-12">
            <%= f.password_field :password, autocomplete: "new-password", 
            class: "sign-up-textbox", placeholder: "New Password" %><br />
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
        </div>
        <div class="row row-style">
          <div class="col-12">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",
            class: "sign-up-textbox", placeholder: "Confirm New Password" %>
          </div>
        </div>
        <div class="row row-style">
          <div class="col-12">
            <%= f.submit "Sign up", class: "btn btn-light" %>
          </div>
        </div>

      <% end %>
  </div>
</section>