<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Traveller's Community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
  </head>
  <body>
    <div class="wrapper">
      <div style = "width: 100%; ">
        <%= render 'layouts/navbar' %>
      </div>
      <%= yield %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH2rc3FNR9g5IJZplnqvfEGjOKIcj1ED8&libraries=places&callback=initMap"
    async defer data-turbolinks-eval="false" type="text/javascript"></script>
  </body>
</html>