<%= form_with(model: trip_detail, local: true) do |form| %>
  <% if trip_detail.present? %>
    <% if trip_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(trip_detail.errors.count, "error")%> prohibited this trip_detail from being saved:</h2>        
        <ul>
          <% trip_detail.errors.full_messages.each do |message| %>
            <li><%= message%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= form.text_field :location, placeholder: "Add your Location",
      class: "form-input-field" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= form.text_field :startDate, data: { behavior: 'flatpickr' }, placeholder: "Date From",
      class: "form-input-field" %>
    </div>
    <div class="col-6">
      <%= form.text_field :endDate, data: { behavior: 'flatpickr' }, placeholder: "Date To",
      class: "form-input-field" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form.text_area :description, placeholder: "Add your Trip Description",
      class: "form-input-field", rows: "8", cols: "25" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form.file_field :photos, multiple: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <%= form.submit %> 
    </div>
  </div>
<% end %>